.App {
  text-align: center;
}

.App-header {
  background-color: #25297F;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.body {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.navbar {
  background: #131440;
  border-bottom: 3px solid
  #32FBA4;
  height: 50px;
  text-align: left;
  width: 100%;
  z-index: 99;
  align-items: center;
  display: flex;
}

.navitems {
  display: flex;
  flex-direction: row;
  padding-left: 10%;
  align-items: center;
}

.navtext {
  font-size: 22px;
  margin-right: 40px;
  color: white;
}

.header-button {
  padding: 10px;
  border-style: solid;
  border-radius: 5px;
}

.header-animation {
  -webkit-animation-name: fadeIn; 
  -webkit-animation-duration: 6s;
  animation-name: fadeIn;
  animation-duration: 6s;
}


section {
  padding-top: 5%;
  padding-bottom: 5%;
}

.mobile { 
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.about-section {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  border-radius: 5px;
  justify-content: space-between;
  height: 70vh;

}

.mobile-column {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  justify-content: space-between;
  min-height: 70vh;
}

.bio-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.skill-text {
  /* padding: 15px; */
  font-weight: bolder;
  /* background-color: aquamarine;
  vertical-align: middle;
  height: 100%; */
  padding-right: 15px;
  padding-left: 15px;
}

.skills-main-bar {
  display: flex;
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: start;
  margin-left: 10px;
  border-radius: 2px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 98%;
  height: 7%;
}

.skills-main-bar-mobile {
  display: flex;
  position: relative;
  background-color:rgba(0, 0, 0, 0.4);
  justify-content: start;
  /* margin-left: 10px; */
  border-radius:2px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  width: 98%;
  height: 30px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 2px;
  background-color: #25297F;
  border-radius: 2px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  color: white;
  /* // #5e227f; */
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
}

.skills-mobile {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  /* margin-top: 20px; */
  background-color: #1fe5bd;
  border-radius: 5px;
  color: white;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
}

.skill-image {
  height: 80%;
  position: absolute;
  right: -15px;
}


/* Add Animation */
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@-webkit-keyframes slideIn {
  from {bottom: 0; opacity: 0} 
  to {bottom: 52%; opacity: 1}
}

@keyframes slideIn {
  from {bottom: 0; opacity: 0}
  to {bottom: 52%; opacity: 1}
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
